
@model Gaming.Predictor.Admin.Models.FeedIngestionModel

@*<form id="feedIngestionForm" asp-controller="Home" asp-action="FeedIngestion">*@
<form id="feedIngestionForm" action="@String.Concat(ViewBag.BasePath,"FeedIngestion")" method="post">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">FEED INGESTION</h4>
                </div>
            </div>

            @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Asset</th>
                                            <th class="text-center">Input</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Languages</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="languages">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">MixApi (1 = true / 0 = False)</td>
                                            <td class="text-center">
                                                <input class="form-control" asp-for="MixApiIsPointPrc" placeholder="*IsPointProcess" />
                                                <input class="form-control" asp-for="MixApiIsAbandon" placeholder="*IsAbandon" />
                                                <input class="form-control" asp-for="MixApiIsMaintance" placeholder="*IsMaintenance" />

                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="ingestmixapi">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Fixtures</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="fixtures">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Skills</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="skills">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Questions</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="QuestionsMatchID" placeholder="*MatchID" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="questions">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">All Match Questions</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="allmatchquestions">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Teams Recent Results</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="teamsrecentresults">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Match Status</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="MatchId" placeholder="*MatchID" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="matchstatus">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Leaderbaord</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="LeaderBoardGamedayId" placeholder="*GameDayId" class="form-control" />
                                                <input type="text" asp-for="LeaderBoardPhaseId" placeholder="*PhaseId" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="leaderboard">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Current Gameday Matches</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="currentgamedaymatches">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">EOT Flag</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="EOTFlag" placeholder="*EOT Flag" value="@Model.EOTFlag" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="updateeotflag">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Combine Leaderboard Week</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="CombineLeaderboardWeekId" placeholder="*Leaderboard Week Id" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="combineleaderboardweek">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Combine Leaderboard Overall</td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="combineleaderboardoverall">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Current Gameday Matches</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="currentgamedaymatches">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Week Mapping File</td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="week_mapping_file">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Combine LB Service Status</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="DaemonServiceCombineLbStatus" class="form-control" placeholder="*0 or 1" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="daemonservicecombinelbstatus">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Gamelocking Service Status</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="DaemonServiceStatus" class="form-control" placeholder="*0 or 1" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="daemonservicestatus">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Match Answer Service Status</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="DaemonServiceMatchAnswerStatus" class="form-control" placeholder="*0 or 1" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="daemonservicematchanswerstatus">SUBMIT</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
    </div>
</form>