@model Gaming.Predictor.Admin.Models.NotificationModel

@*<form id="notificationForm" asp-controller="Home" asp-action="Notification">*@
<form id="notificationForm" action="@String.Concat(ViewBag.BasePath, "Notification")" method="post">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">NOTIFICATION</h4>
                </div>
            </div>

            @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Asset</th>
                                            <th class="text-center">Input</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Ingest Topics</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="ingesttopics">Ingest</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Send Notification</td>
                                            <td class="text-center">
                                                <select asp-for="NotificationPlatformId" class="form-control" asp-items="@(new SelectList(Model.NotificationPlatforms, "Id", "Name"))"></select>
                                                <input type="text" asp-for="NotificationText" placeholder="Message" class="form-control" />
                                                <input type="text" asp-for="NotificationMatch" placeholder="Match Id" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="sendnotification">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Ingest Notification Messages</td>
                                            <td class="text-center">
                                                <textarea cols="20" rows="2" asp-for="NotifcationTextJson" placeholder="Message" class="form-control"> </textarea>

                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="ingestnotificationmessages">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Ingest Notification Status</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="notificationStatus">Ingest</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
    </div>
</form>